/* google font */

@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&display=swap');

/* variables */
:root {
    --header-height :3rem;
    --font-semi:600;

}
/* color */
:root{
    --first-color : #4070f4;
    --second-color : #0e2431;
    --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}
 /* font style */
 :root{
    --body-font: "Moderustic", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --nomral-font-size: 0.938rem; 
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --nomral-font-size: 1rem;
    }
  }

  /* Margins */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /* Z-index */
  :root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Base */
  *,
  ::before,
  ::before {
    box-sizing: border-box;
  }


  html{
    scroll-behavior: smooth;
  }

  body{
    margin : var(--header-height) 0 0 0 ;
    font-family: var(--body-font);
    font-size: var(--nomral-font-size);
    color:var(--second-color);
  }

  h1,h2,p{
    margin :0;
  }

  ul{
    margin: 0;
    padding:0;
    list-style:none;
  }
img{
    max-width :100%;
    height:auto;
    display:block; 
}

/* custom css class
layout */
.bd_grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
.header{
    width :100%;
    position: fixed;
    top :0;
    left:0;
    z-index :var(--z-fixed); 

   background: #fff;
   box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    
}

.nav{
    height: var(--header-height);
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-weight: var(--font-semi);
}


@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}


.nav_items{
  margin-bottom : var(--mb-4);
}

.nav_link{
  position :relative;
  color :#fff
}

.nav_link:hover::after{
  position :absolute;
  content: '';
  width:100%;
  height :0.18rem;
  left :0;
  top :2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: var(--second-color);
}

.nav_toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor :pointer;
}

.active::after{
  position : absolute;
  content: '';
  width : 100%;
  height: 0.18rem;
  left: 0;
  top :2rem;
  background-color: var(--first-color);
}
a{
  text-decoration: none;
}
.show{
  right:0%;
}

.home{
  height: calc(100%-3rem);
  row-gap : 1rem;

}
.home_data{
  align-self: center;
}
.home_title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2);
}
.home-tile_color{
  color : var(--first-color);
}
.home_social{
  display: flex;
  flex-direction: column;
}
.home_social_icon{

  width:max-content;
 margin-bottom: var(--mb-2);
 font-size: 1.7rem;
 color: var(--second-color)
}
.home_social_icon:hover{
  color : var(--first-color);
}

.home_img{
  position : relative;
  right :0;
  bottom : 0;
  width: 300px;

}
.home_img svg{
  width: 100%;
}

/* buttons */

.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background:rgb(117, 46, 231);}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section_title{
  position:relative ;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
  text-decoration: none;
}

.section_title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);

}

.about_img svg{
  width: 300px;

}
.about_container{
  row-gap: 3rem;
  text-align: center;
}
.about_subtile{
  margin-bottom: var(--mb-2);
}

.about_img svg {
  width: 300px;
  border-radius: 0.5rem;
}
/* skill */
.skills_container {
  row-gap: 2rem;
  text-align: center;
}
.skill_data{
  display:flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
  padding: 0.5rem 1rem;
  font-weight: var(--font-semi);
 
  border-radius : 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skill_icon{
  color:var(--first-color);
  font-size: 2rem;
  margin-right: var(--mb-2);
}
.skill_name{
  display:flex;
  align-items: center;
}
.skill_bar{
  position:absolute;
  left:0;
  bottom:0;
  background-color: var(--first-color);
  height : 0.4rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skill_html{
  width: 75%;
}
.skill_css{
  width: 65%;
}
.skill_excel{
  width: 75%;
}
.skill_django{
  width: 75%;
}
.skill_python{
  width: 90%;
}
.skill_sql{
  width: 85%;
}
.skill_git{
  width: 75%;
}

.skill_image{
  width: 300px;
}

.card-list .card-item .card-link{
   user-select: none;
   display: block;
   background-color: rgba(227, 227, 240, 0.511);
   padding: 0.7rem;
   border-radius: 12px;
   text-decoration: none;
   box-shadow: 0 10px 10px rgba(46, 3, 3, 0.887) ;
   transition: 0.2s ease;


}
.card-image{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.badge{
  margin : 16px 0 18px;
  padding:8px 16px;
  color: white;
  background-color : var(--first-color);
  font-weight: 500;
  font-size: 0.95rem;
  width: fit-content;
  border-radius: 10px;
}
.card-title{
  font-weight: 500;
  color: black;
  font-size: 1.9rem;
}
.card-list .card-link .card-button{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color:var(--first-color);
  background: none;
  cursor: pointer;
  font-size: 60px;
  transition: 0.4s ease;
  border: none;

}

.card-list .card-link:hover .card-button{
  width: 10px;
  transition: 0.4s ease;
}
.badge.hackerrank{
  color : white;
  background-color: #8e0af3;
}
.badge.hackerrank{
  color : white;
  background-color: #8e0af3;
}

.badge.hackerrank{
  color : white;
  background-color: #8e0af3;
}

.card-wrapper{
  max-width: 1100px;
  overflow:hidden;
}
.control_input{
  width: 100%;
  font-size: var(--nomral-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 1rem;
  outline :none;
  margin-bottom:  var(--mb-4);
  box-shadow: 0 15px 10px var(--first-color) ;

}
.control_button{
  display : block;
  border:none;
  outline:none;
  font-size: var(--nomral-font-size);
  cursor: pointer;
  margin-left: auto;
}
.footer{
  background-color: var(--second-color);
  color:#fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding:2rem 0;
}
.footer_title{
  font-size:2rem ;
  margin-bottom: var(--mb-4);
}
.footer_socials{
  margin-bottom: var(--mb-4);
}
.footer_social_icon{
  font-size: 1.5rem;
  color:#fff;
  margin : 0 var(--mb-2)
}
